<.header>
  Submission <%= @submission.id %>
  <:subtitle>This is a submission record from your database.</:subtitle>
  <%!-- <:actions>
    <.link href={~p"/submissions/#{@submission}/edit"}>
      <.button>Edit submission</.button>
    </.link>
  </:actions> --%>
</.header>

<.list>
  <:item title="Code"><%= @submission.code %></:item>
</.list>

<.back navigate={~p"/exercises/#{@exercise.id}"}>Back to submissions</.back>
