<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= if assigns[:page_title] do %>
      <.live_title suffix=" · ACE Grader"><%= assigns[:page_title] %></.live_title>
    <% else %>
      <.live_title>ACE Grader</.live_title>
    <% end %>
    <meta property="og:title" content={assigns[:page_title] || "ACE Grader"} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={~p"/images/ACEGrader_violet.png"} />
    <meta property="og:description" :if={assigns[:page_description]} content={assigns[:page_description]} />
    <meta property="og:site_name" content="ACE Grader" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" id="hljs-dark-theme" href={~p"/css/hljs_dracula.css"} disabled />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <script>
      function applyTheme() {
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
          document.getElementById('hljs-dark-theme').disabled = false;

          document.querySelectorAll('.ace_editor').forEach(function(editor) {
            editor.env.editor.setTheme('ace/theme/dracula');
          });
        } else {
          document.documentElement.classList.remove('dark');
          document.getElementById('hljs-dark-theme').disabled = true;

          document.querySelectorAll('.ace_editor').forEach(function(editor) {
            editor.env.editor.setTheme('ace/theme/eclipse');
          });
        }
      }

      applyTheme();

      function enableDarkMode() {
        localStorage.theme = 'dark';
        applyTheme();
      }

      function enableLightMode() {
        localStorage.theme = 'light';
        applyTheme();
      }

      function enableSystemMode() {
        localStorage.removeItem('theme');
        applyTheme();
      }
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-zinc-100 antialiased h-full">
    <%= @inner_content %>
  </body>
</html>
