<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="AceGrader">
      <%= assigns[:page_title] |> (& if &1, do: &1 <> " · ", else: "").() %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/tailwind.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <script>
      function applyTheme() {
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      }

      applyTheme();

      function enableDarkMode() {
        localStorage.theme = 'dark';
        applyTheme();
      }

      function enableLightMode() {
        localStorage.theme = 'light';
        applyTheme();
      }

      function enableSystemMode() {
        localStorage.removeItem('theme');
        applyTheme();
      }
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-zinc-100 antialiased">
    <%= @inner_content %>
  </body>
</html>
