<div class="space-y-8">
  <.header>
    <%= gettext "Exercise List" %>
    <:actions>
      <.link href={~p"/exercises/new"}>
        <.button :if={@current_user && @current_user.account_type != :student} kind={:teacher} class="flex items-center gap-2">
          <.icon name="hero-plus" class="w-5 h-5" />
          <%= gettext "New Exercise" %>
        </.button>
      </.link>
    </:actions>
  </.header>

  <.exercise_list exercises={@exercises} />
</div>