@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

/* This file is for your main application CSS */

body {
    font-family: 'Inter', 'Lexend', 'Atkinson Hyperlegible', sans-serif;
}

[x-cloak] { display: none !important; }

.editor-container {
    position: relative;
    width: 100%;
}

.editor-loading { 
    @apply z-10 w-full h-64 bg-[#282a36] text-white flex items-center justify-center flex-col text-2xl gap-2;
}

.editor {
    @apply relative w-full text-lg;
}

.editor-preview {
    @apply text-black dark:text-white dark:bg-zinc-800 bg-zinc-100;
}

.editor-toolbar > .active {
    @apply dark:bg-zinc-700;
}

.editor-toolbar > button {
    @apply dark:hover:bg-zinc-700;
}

.showOnHover {
    @apply hidden;
}

.hoverToShow:hover + .showOnHover {
    @apply block;
}

.md-text code.inline {
    @apply text-violet-900 dark:text-violet-300;
}

.md-text ul {
    @apply list-disc list-inside;
}