<div class="h-min bg-violet-700 py-6 space-y-8 text-zinc-200">
  <div class="flex flex-col items-center justify-center h-full gap-3">
    <img src={"/images/ACEGrader_white.svg"} alt="ACE Grader" class="w-48 md:w-64"/>
    <p class="font-light tracking-wider text-xl text-center px-16"><%= gettext "Automatic Code Evaluator and Grader" %></p>
  </div>
</div>
<div class="px-4 py-6 sm:py-12 md:px-8 lg:px-12 xl:px-16 flex flex-col items-center md:items-start gap-6">
  <p><%= gettext "ACE Grader was developed by Sofia Santos as part of her Master's Thesis in Software Engineering at Universidade do Minho. Sofia was supervised by Professor Pedro Rangel Henriques and Professor Alda Gancarski." %></p>

  <p><%= gettext "ACE Grader is an open source project under the MIT license. You can find the source code on " %><a href="https://github.com/RisingFisan/ACE_Grader" class="text-violet-500">GitHub</a>.</p>
</div>

<footer class="fixed bottom-0 w-full p-4 px-6 bg-violet-700 text-zinc-200 text-lg flex justify-between">
  <p><%= gettext "Made with 🏳️‍🌈 by " %><a href="https://github.com/RisingFisan" class="text-violet-300">Sofia Santos</a>.</p>
  <a href="/" class="text-violet-300"><%= gettext "Back to the home page" %></a>
</footer>