<div class="h-min bg-violet-700 py-6 space-y-4 text-zinc-200">
  <div class="flex flex-col items-center justify-center h-full gap-3">
    <img src={"/images/ACEGrader_white.svg"} alt="ACE Grader" class="w-48 md:w-64"/>
    <p class="font-light tracking-wider text-xl text-center px-16"><%= gettext "Automatic Code Evaluator and Grader" %></p>
  </div>
  <div class="flex flex-col items-center gap-4">
    <div class="h-[1px] border-t border-zinc-300 w-64"></div>
    <h2 :if={@current_user} class="text-2xl md:text-4xl font-bold"><%= gettext("Welcome back, %{name}!", name: @current_user.display_name) %></h2>
    <div class="flex flex-col md:flex-row items-center gap-4">
      <%= if @current_user do %>
        <.link href={~p"/users/#{@current_user.username}"}>
          <.button dark>
            <%= gettext "Go to my account" %>
          </.button>
        </.link>
      <% else %>
        <.link :if={!@current_user} href={~p"/users/log_in"}>
          <.button dark>
            <%= gettext "Log in" %>
          </.button>
        </.link>
      <% end %>
      <.link href={~p"/exercises"}>
        <.button dark>
          <%= gettext "Go to Exercises" %>
        </.button>
      </.link>
      <.link :if={@current_user} href={~p"/classes"}>
        <.button dark>
          <%= gettext "Go to Classes" %>
        </.button>
      </.link>
    </div>
  </div>
</div>
<div class="px-4 py-6 sm:py-12 md:px-8 lg:px-12 xl:px-16 flex flex-col items-start gap-6 mx-auto lg:max-w-[60%]">
  <h2 class="text-4xl font-bold"><%= gettext "What is ACE Grader?" %></h2>
  <p class="text-xl font-light"><%= gettext "ACE Grader, as the name implies, is an automatic grading solution for programming exercises! It uses a combination of dynamic and static analysis in order to evaluate submitted programs." %></p>

  <h2 class="text-4xl font-bold"><%= gettext "What is static analysis?" %></h2>
  <p class="text-xl font-light"><%= gettext "Unlike dynamic analysis, which only looks at a program's output, static analysis looks at the program itself. For example, ACE Grader can check if a function is recursive, unlike most automatic grading software. This can be extremely useful for grading introductory programming exercises, where students must use a specific concept in order to solve a problem." %></p>
</div>

<footer class="fixed bottom-0 w-full p-4 px-6 bg-violet-700 text-zinc-200 text-lg flex justify-between">
  <p><%= gettext "Made with 🏳️‍🌈 by " %><a href="https://github.com/RisingFisan" class="text-violet-300">Sofia Santos</a>.</p>
  <a href={~p"/about"} class="text-violet-300"><%= gettext "More information about this project" %></a>
</footer>